<a href="https://colab.research.google.com/github/slayver112/Univercity/blob/main/Ex_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [ ]:
# Ваш код
a = input().split()
c = list(map(lambda x: int(x)**3, a))
print(c)

1 2 3 4 5
[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [ ]:
# Ваш код
a = input().split()
c = list(filter(lambda m: m[0] == m[-1], a))
print(c)

level python radar world rotor
['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [9]:
# Ваш код
from functools import reduce
a = input().split()
c = reduce(lambda x, y: int(x) if int(x) > int(y) else int(y) , a)
print(c)

47 11 42 102 13
102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [31]:
# Ваш код
a = input().split()
b = input().split()
q = list(map(lambda x: (int(x[0]) ** 2 , int(x[1]) ** 3), zip(a, b)))
print(q)

1 2 3
4 5 6
[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [35]:
# Ваш код
from functools import reduce
a = list(map(int, input().split(',')))
z = filter(lambda x: x%2==0, a)
summa = reduce(lambda x,y: x+y, z)
print(summa)

1,2,3,4,5,6,7,8,9,10
30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [36]:
# Ваш код
a = input().split()
fahrenheit = list(map(lambda x: int(x)*9/5 + 32, a))
print(fahrenheit)

0 15 30 100
[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [38]:
# Ваш код
a = input().split()
nechet = filter(lambda x: int(x)%2==1, a)
kvadrat = list(map(lambda y: int(y)**2, nechet))
print(kvadrat)

1 2 3 4 5 6 7 8 9
[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [40]:
# Ваш код
a = input().split()
proiz = reduce(lambda x,y: int(x)*int(y), a)
print(proiz)

1 2 3 4 5
120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [43]:
# Ваш код
a = input().split()
nulik = list(map(lambda x: int(x) if x.isdigit() else 0, a))
print(nulik)

10 20 abc 30 def
[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [53]:
# Ваш код
ixs = input().split()
igryk = input().split()
coords = [(lambda x, y: (x, y))(x,y) for x,y in zip(ixs,igryk)]
print(coords)

1 2 3
4 5 6
[('1', '4'), ('2', '5'), ('3', '6')]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [57]:
# Ваш код
a = input().split()
slovar = dict(map(lambda x: (x,len(x)), a))
print(slovar)

apple banana cherry
{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [59]:
# Ваш код
def is_prime(x):
    for i in range(2, (x//2)+1):
        if x % i == 0:
            return False
    return True
a = input().split()
prosto = list(filter(lambda x: is_prime(int(x)), a))
print(prosto)

2 3 4 5 6 7 8 9 10
['2', '3', '5', '7']

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [60]:
# Ваш код
a = input().split()
b = input().split()
c = input().split()
zipka = list(map(lambda x: int(x[0])+int(x[1])+int(x[2]), zip(a,b,c)))
print(zipka)

1 2 3
4 5 6
7 8 9
[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [73]:
# Ваш код
from functools import reduce
a = input()
bukvo = reduce(lambda slovar, bukva: {**slovar, bukva: slovar.get(bukva, 0) + 1},a, {})
maxim = reduce(lambda x, y: max(x, y), bukvo.values())
bigbossbukva = reduce(lambda result, item: result + [item[0]] if item[1] == maxim else result,bukvo.items(),[])
print(bigbossbukva)

Functional programming with lambda functions
['n']

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [75]:
# Ваш код
from functools import reduce
a = input().split()
alphabet = "aeiouy"
itogo = reduce(lambda x, y: x + y,map(lambda b: len(list(filter(lambda i: i in alphabet,b))),a),0)
print(itogo)

python lambda functions map filter reduce
13

---